h1 {
	color: red;
	text-align: center;
}

img.p1 {
	width: 575px;
	height: 350px;
}

h1,h2,p {
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
	padding-left: 2px;
	margin-left: auto;
	margin-right: auto;
	font-family: Serif;
	color: white;
}

table, th {
		background-color: lightblue;
}

table,td {
		background-color: blue;
}

* {
  box-sizing: border-box;
}

body.p3 {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
  color: white;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}
h1 {
  font-size: 50px;
  word-break: break-all;
}
/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: grey;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

body.p4 {
	font-family: Serif;
}

h1.p4 {
	text-align: center;
	text-decoration: underline; 
}

.text-center {
	text-align: center;
}

.center {
	display: inline-block;
	text-align: left;
}

ul.p4 {
	list-style: none;
}

p.p4 {
	text-align: center;
	color: blue;
	font-size: 20pt;
}

h2.p4 {
	text-align: center;
	text-decoration: underline;
}

img.p4 {
	float: right;
}

h2.p6{	
	text-align: center;
}

img.p6 {
	margin-left: auto;
	margin-right: auto;
}